{{#.}}

  Hello Bylaw,

  {{0.user_email}} would like to report a number of uncleared sidewalks.

  {{#.}}
    {{address}} on the date of {{date}}.
  {{/.}}

  Thank you,

  - Your Clearwalks Team

{{/.}}
